<ul>
  <li><a class="active" href="" [routerLink]="['home']"> Home</a></li>
  <li><a class="active" href="" [routerLink]="['products']"> Product</a></li>
  <li><a class="active" href="" [routerLink]="['about']"> About </a></li>
  <li><a class="active" href="" [routerLink]="['Contact']"> Contact</a></li>
  <li>
    <a class="active" href="" [routerLink]="['fakeapi']">
      Products From Fake Api</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
<!-- <app-product></app-product> -->
<!-- <app-pagination></app-pagination> -->