<link rel="stylesheet" />
<button class="btn btn-danger" (click)="getUsers()">Get Users</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>category</th>
      <th>Rate</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let user of products | paginate : { itemsPerPage: 4, currentPage: page } ">
      <td>{{ user.id }}</td>
      <td>{{ user.title }}</td>
      <td>{{ user.price }}</td>
      <td>{{ user.description }}</td>
      <td>{{ user.category }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.rating.rate }}</td>
      <td>{{ user.rating.count }}</td>
    </tr>
  </tbody>
</table>
<div>
  <pagination-controls (pageChange)="page = $event"> </pagination-controls>
</div>
