<form>
  <!-- <label for=" Name"> First Name</label>
    <input type="text" name="fname" [formControl] ="FirstName">
    
    <label for=" Name"> Last Name</label>
    <input type="text" name="lname" [formControl] ="LastName">
    
    <label for=" Name"> Age</label>
    <input type="text" name="age"   [formControl] ="Age">
    
    <label for=" Name"> PhoneNumber</label> -->
  <!-- <input type="text" name="ph"     [formControl] ="PhoneNumber"> -->
  <!-- <p class="red" *ngIf="PhoneNumber.minLength"> Minimum Number Required</p> -->
  <!-- <p class="red" *ngIf="PhoneNumber.maxLength"> Maximum Number Required</p> -->
</form>
